<aside #mainSidebar class="main-sidebar sidebar-dark-lightblue elevation-4">
    <!-- Brand Logo -->
    <a [routerLink]="['/']" class="brand-link">
        <img src="assets/img/wl-logo.jpg" title="{{ 'common.webapp.icon' | translate }}" class="brand-image" />
        <span class="brand-text font-weight-light">{{ 'common.webapp.title' | translate }}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                <li *ngIf="settings?.enableDatabase" class="nav-item">
                    <a [routerLink]="['/']" class="nav-link">
                        <i class="nav-icon fas fa-sitemap"></i>
                        <p>{{ 'side-menu.clusters' | translate }}</p>
                    </a>
                </li>
                <ng-container *ngIf="selectedCluster">
                    <li class="nav-header">
                        {{ 'side-menu.kafka-information' | translate }}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="onRedirectKakfa()">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>{{ 'side-menu.dashboard' | translate }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="onRedirectKakfa('brokers')">
                            <i class="nav-icon fas fa-server"></i>
                            <p>{{ 'side-menu.brokers' | translate }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="onRedirectKakfa('topics')">
                            <i class="nav-icon fas fa-database"></i>
                            <p>{{ 'side-menu.topics' | translate }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="onRedirectKakfa('consumer-groups')">
                            <i class="nav-icon fas fa-users-cog"></i>
                            <p>{{ 'side-menu.consumerGroups' | translate }}</p>
                        </a>
                    </li>
                    <ng-container *ngIf="settings?.enableMessageViewer">
                        <li class="nav-header">
                            {{ 'messages.information' | translate }}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="onRedirectKakfa('messages')">
                                <i class="nav-icon fas fa-comments"></i>
                                <p>{{ 'side-menu.messages' | translate }}</p>
                            </a>
                        </li>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="selectedCluster && settings?.enableKafkaConnect && selectedCluster.kafkaConnectAddr">
                    <li class="nav-header">
                        {{ 'side-menu.kafka-connect' | translate }}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="onRedirectKakfa('connect')">
                                <i class="nav-icon fas fa-plug"></i>
                            <p>{{ 'side-menu.connectors' | translate }}</p>
                        </a>
                    </li>
                </ng-container>
                <li class="nav-header">
                    {{ 'messages.extras' | translate }}
                </li>
                <li class="nav-item">
                    <a href="https://gitlab.kazan.myworldline.com/labs-fpl/fs-labs-2021/kafkamanager/" target="_blank" class="nav-link">
                        <i class="nav-icon fab fa-gitlab"></i>
                        <p>{{ 'side-menu.repository' | translate }}</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
