<li class="nav-item dropdown user-menu">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" (click)="toggleDropdownMenu()" title="{{ user.firstName }} {{ user.lastName }}">
        <img appGravatar [email]="user.email ? user.email : user.firstName" [size]="26" class="img-circle elevation-2">
    </a>
    <ul #dropdownMenu class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <!-- User image -->
        <li class="user-header bg-gray-dark">
            <img appGravatar [email]="user.email ? user.email : user.firstName" class="img-circle elevation-2" alt="{{ user.firstName }} {{ user.lastName }}">
            <p *ngIf="user.lastName">
                {{ user.firstName }} {{ user.lastName }} - {{ user.fonction }}
                <small *ngIf="user.creationDate">Member since {{ helperService.convertDate(user.creationDate) }}</small>
            </p>
            <p *ngIf="!user.lastName"> {{ user.firstName | uppercase }} </p>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <a [routerLink]="['/settings']" class="btn btn-default btn-flat" *ngIf="user.email">Settings</a>
            <a (click)="logout()" class="btn btn-default btn-flat float-right">Logout</a>
        </li>
    </ul>
</li>
