<li class="nav-item dropdown user-menu">
    <a class="nav-link dropdown-toggle user-menu" data-toggle="dropdown" (click)="toggleDropdownMenu()" title="{{ user.firstName }} {{ user.lastName }}">
        <img src="assets/img/user-filled.png" class="img-circle elevation-2">
    </a>
    <ul #dropdownMenu class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <!-- User image -->
        <li class="user-header bg-gray-dark">
            <img src="assets/img/user.png" class="img-circle elevation-2">
            <p *ngIf="user.lastName">
                {{ user.firstName }} {{ user.lastName }} - {{ user.fonction }}
                <small *ngIf="user.creationDate">Member since {{ helperService.convertDate(user.creationDate) }}</small>
            </p>
            <p *ngIf="!user.lastName"> {{ user.firstName | uppercase }} </p>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <a [routerLink]="['/settings']" class="btn btn-default btn-flat" *ngIf="user.email">Settings</a>
            <a (click)="logout()" class="btn btn-default btn-flat float-right">Logout</a>
        </li>
    </ul>
</li>
