<li class="nav-item dropdown">
  <a class="nav-link" data-toggle="dropdown" (click)="toggleDropdownMenu()">
    <span *ngIf="selectedCluster; else noCluster" class="cluster-name">{{ selectedCluster.name }}</span>
    <ng-template #noCluster><span class="cluster-name">{{ 'clusters.dropdown.empty' | translate }}</span></ng-template>
    <i class="fa fa-server"></i>
    <span class="badge badge-primary navbar-badge">{{ clusters.length }}</span>
  </a>
  <div #dropdownMenu class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <span class="dropdown-item dropdown-header">{{ 'clusters.dropdown.nbClusters' | translate: { nb: clusters.length } }}</span>
    <div class="dropdown-divider"></div>
    <ng-container *ngIf="clusters">
        <ng-container *ngFor="let cluster of clusters" >
        <a (click)="onSelect(cluster)" [class.selected]="cluster.id === ((selectedCluster) ? selectedCluster.id : '')" class="dropdown-item">
            <!-- Message Start -->
            <div class="cluster">
            <i class="fas fa-server mr-2 text-primary"></i>
            <div class="cluster-body">
                <h3 class="dropdown-item-title">
                {{cluster.name}}
                </h3>
                <p class="text-xs">{{cluster.id}}</p>
            </div>
            </div>
            <!-- Message End -->
        </a>
        <div class="dropdown-divider"></div>
        </ng-container>
    </ng-container>
    <div *ngIf="settings?.enableDatabase" class="dropdown-item dropdown-footer">
      <a routerLink="/add-cluster"><i class="fa fa-plus"></i></a>
      <a href="#" (click)="onRefresh()"><i class="fa fa-redo-alt"></i></a>
    </div>
  </div>
</li>
