.dropdown {
  .nav-link {
    cursor: pointer;
  }
}

.cluster {
  display: flex;
  align-items: flex-start;
}

.cluster-body {
  flex: 1;
}

.cluster-name {
  padding-right: 5px;
}

.selected {
  color: #16181b;
  text-decoration: none;
  background-color: #7b7d801f;
}

.selected:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-footer a {
  margin-right: 10px;
}
